<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="SiteServer" value="CM01.corp.scconfigmgr.com" />
    <add key="SiteCode" value="P01" />
    <add key="SecretKey" value="fa09b22c-37c6-426a-a03a-8b8d36fb4670" />
  </appSettings>
</configuration>