<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime targetFramework="4.0" />
  </system.web>

  <appSettings>
    <add key="SiteServer" value="SiteServerWithSMSProvider" />
    <add key="SiteCode" value="SiteCode" />
    <add key="SecretKey" value="SecretKey" />
    <add key="SQLServer" value="SQLServerNameForMDTDatabase" />
    <add key="SQLInstance" value="SQLServerInstanceName" />
    <add key="MDTDatabase" value="MDTDatabaseName" />
  </appSettings>
</configuration>